html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
background-color: aliceblue;
}
.cover-index {
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  flex-grow: 1;
}

.nav-head{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categories {
  margin-top: 10px;
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  scrollbar-width: none;
}
.header-index {
  background-color:'#192f23';
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  margin-top: 10px;
}
.header-con{
  background-color: #2c463a;
}
.cat-icons {
  display: flex;
  flex-direction: column;
  margin:0 10px;
}
.cat-icons-con {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10%;
  justify-self: center;
  align-self: center;
  margin: auto;
}
.cat-icons-txt {
  font-size: medium;
  justify-self: center;
  color: white;
  margin: 0;
}
#search{
  padding: 3px;
  box-sizing: border-box;
  border-radius: 10px;
}
#search-input{
  width: 400px;
  padding: 3px;
  background-color: #fff;
  border-radius: 10px;
  color: #192f23;
  cursor: pointer;
}
.search{
  justify-content: center;
  font-size: medium;
}
.search-btn{
  padding: 3px;
  background-color: #fff;
  border-radius: 10px;
  color: #192f23;
  cursor: pointer;
}
.posts{
  color: black;
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
}
.posts a{
  text-decoration: none;
  color: #000;
}
.grid-con-index {
  margin: auto;
  position: relative;
}
.grid-wrapper-index {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  padding:0 10px;
  margin: auto;
} 
.posts-img{
  background-color: wheat;
  width: 200px;
  height: 150px;
  margin-bottom:10px;
  position: relative;
  border-radius: 10px 10px 0 0 ;
}
.posts-txt-btm{
  text-align: left;
  padding-left: 5px;
  height: 80px;
  margin: 0;
}
.posts-txt span{
  font-weight: 900;
  margin-right: 5px;
}
.posts-txt{
  margin: 0 3px;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.posts-txt-low{
  margin: 0 3px;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #192f23;
  color: #fff;
  margin-top: 20px;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
}
.svg-con{
  color: #fff;
}
.footer-txt{
  padding-right: 20px;
}
.floating{
  position: fixed;
  bottom: 100px;
  right: 8px;
  padding: 20px;
  z-index: 6;
  background-color: #192f23;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.floating-txt{
  text-decoration: none;
  color: #fff;
  margin: 0;
}
.header-txt{
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media (min-width:400px ) {
  .grid-wrapper-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding:0 10px;
    margin: auto;
  }
  .posts-img{
    background-color: wheat;
    width: 170px;
    height: 150px;
    margin-bottom:10px;
    position: relative;
  }
}
@media (min-width:300px ) {
  .grid-wrapper-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding:0 10px;
    margin: auto;
  }
  .posts-img{
    background-color: wheat;
    width: 170px;
    height: 150px;
    margin-bottom:10px;
    position: relative;
  }
}
@media (min-width:100px ) {
  .grid-wrapper-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding:0 10px;
    margin: auto;
  }
  .posts-img{
    background-color: wheat;
    width: 150px;
    height: 130px;
    margin-bottom:10px;
    position: relative;
  }
}
@media (min-width:715px) {
  .grid-wrapper-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding:0 10px;
    margin: auto;
  }
}
@media (min-width:915px) {
  .grid-wrapper-index {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding:0 10px;
    margin: auto;
  }
}

.nav {
  height: 30%;
  background-image: url("public/hero@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 50px 0 100px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
}
.nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 0 50px;
  display: flex;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
}
.nav ul li {
  margin: 0 5px;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.nav ul li a.active,
.nav ul li a:hover {
  color: #111;
  background: #fff;
}
.nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (min-width: 991px) {
  .nav {
    z-index: 7;
  }
  .Headline .WorkAtTheSpeedOfThought {
    font-size: 80px;
    text-align: center;
    color: black;
    font-family: Abyssinica SIL;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
  }
}
@media (max-width: 1000px) {
  .nav {
    padding: 0 40px 0 50px;
    z-index: 7;
  }

  .Headline .WorkAtTheSpeedOfThought {
    font-size: 60px;
    text-align: center;
    color: black;
    font-family: Abyssinica SIL;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
  }
}
@media (max-width: 920px) {
  .alex {
    display: block;
  }
  .nav {
    z-index: 7;
  }
  .nav .menu-btn i {
    display: block;
    right: 20px;
    position: absolute;
    z-index: 7;
  }
  .Screen .Screens {
    display: block;
  }
  .asdf {
    margin: 0 30px;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    color: #fff;
    overflow: auto;
  }
  #click:checked ~ ul {
    left: 0;
  }
  .nav ul li {
    width: 100%;
    margin: 20px 0;
    overflow: auto;
  }
  .nav ul li a {
    width: 100%;
    color: #fff;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    overflow: auto;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0;
  }
  .nav ul li a.active,
  .nav ul li a:hover {
    background: none;
    color: cyan;
  }

  .Headline .WorkAtTheSpeedOfThought {
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: Abyssinica SIL;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
  }
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  border-radius: 10px 0 0 10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius:0 10px 10px 0;
  border: none;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}