@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: black;
}

nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-image: url("public/hero@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: relative;
  z-index: 7;
  color: #fff;
}
nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0 0 50px;
  display: flex;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (min-width: 991px) {
  nav {
    z-index: 7;
  }
  .Headline .WorkAtTheSpeedOfThought {
    font-size: 80px;
    text-align: center;
    color: black;
    font-family: Abyssinica SIL;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
  }
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
    z-index: 7;
  }

  .Headline .WorkAtTheSpeedOfThought {
    font-size: 60px;
    text-align: center;
    color: black;
    font-family: Abyssinica SIL;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
  }
}
@media (max-width: 920px) {
  .alex {
    display: block;
  }
  nav {
    z-index: 7;
  }
  nav .menu-btn i {
    display: block;
    right: 20px;
    position: absolute;
    z-index: 7;
  }
  .Screen .Screens {
    display: block;
  }
  .asdf {
    margin: 0 30px;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    color: #fff;
    overflow: auto;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 20px 0;
    overflow: auto;
  }
  nav ul li a {
    width: 100%;
    color: #fff;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    overflow: auto;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }

  .Headline .WorkAtTheSpeedOfThought {
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: Abyssinica SIL;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}
.Screen {
  padding-bottom: 90px;
}
.Screen .Screens {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: #d4d4d4;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

/*---footer---*/
.footer {
  position: fixed;
  bottom: 0;
  background: #d4d4d4;
  padding: 1em;
  width: 100%;
  text-align: center;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
  -ms-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
  -o-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
}
.footer p {
  color: #7a7676;
  font-size: 1em;
  line-height: 1.6em;
}
.footer p a {
  color: #e94e02;
}
.footer p a:hover {
  text-decoration: underline;
}
/*---//footer---*/

/* payment */

.peak-user-settings-child {
  position: relative;
  width: 100%;
  height: 90vh;
  display: none;
}
.group-child {
  position: absolute;
  /* top: 0;
  left: 0; */
  border-radius: 100px;
  background-color: #000;
  width: 467.25px;
  height: 474px;
}
.group-item {
  border-radius: 10px;
  background-color: #fff;
}
.group-item,
.image-2-icon,
.rectangle-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image-2-icon {
  height: 61.14%;
  width: 53.55%;
  top: 19.34%;
  right: 23.78%;
  bottom: 19.53%;
  left: 22.67%;
  border-radius: 50px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-inner,
.group-parent {
  position: absolute;
  top: 317px;
  left: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.1) inset;
  width: 300px;
  height: 81px;
}
.group-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}
.rectangle-container {
  position: absolute;
  height: 17.09%;
  width: 64.63%;
  top: 42.72%;
  right: 18.67%;
  bottom: 40.19%;
  left: 16.69%;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 304.5px;
  height: 78px;
}
.image-4-icon {
  position: absolute;
  top: 12.75px;
  left: 73.08px;
  width: 152.25px;
  height: 51.75px;
  object-fit: cover;
}
.image-3-icon,
.rectangle-group {
  position: absolute;
  top: 94.5px;
  left: 78px;
  width: 304.5px;
  height: 78px;
}
.image-3-icon {
  top: 207.75px;
  left: 143.25px;
  border-radius: 10px;
  width: 170.25px;
  height: 75.75px;
  object-fit: cover;
}
.choose-payment {
  position: absolute;
  top: 35px;
  left: 78px;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 304px;
  height: 46px;
}
.recommended-immediate {
  position: absolute;
  top: 176px;
  left: 141px;
  display: inline-block;
  width: 215px;
  height: 23px;
}
.from-0-30min-duration,
.recommended-immediate {
  text-transform: capitalize;
}
.span {
  text-transform: uppercase;
}
.from-0-30min-duration-container,
.from-2hr-24hr {
  position: absolute;
  top: 288px;
  left: 141px;
  display: inline-block;
  width: 186px;
  height: 23px;
}
.from-2hr-24hr {
  top: 406px;
  text-transform: capitalize;
  width: 199px;
}
.rectangle-parent {
  position: absolute;
  top: 107px;
  left: 447px;
  width: 467.25px;
  height: 474px;
}
.peak-user-settings {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  color: #fff;
  font-family: Poppins;
}

.asdf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 70vh;
  background-color: black;
  border-radius: 100px;
  margin: 50px auto;
  color: white;
}
.payer img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.payer {
  width: 40vw;
  height: 15vh;
  background-color: white;
  border-radius: 50px;
  margin: 10px auto;
}
.text-center {
  margin: auto;
}
.containers {
  background: #e5e4e2;
  margin: 0;
  padding: 0;
}
h4 {
  background: #e5e4e2;
  padding-left: 30px;
}
@media (min-width: 921px) {
  .asdf {
    width: 40vw;
  }
  .payer {
    width: 35vw;
  }

  .gridash {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 10px;
    background: #000;
  }
  .colmsdash {
    border-radius: 20px;
    display: block;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .img-con {
    display: flex;
    flex-direction: column;
  }
  .payer img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
  .payer {
    height: 10vh;
    width: 60vw;
  }
  .asdf {
    width: 80vw;
    height: 50vh;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    padding: 0 30px;
    background: #e5e4e2;
  }
  .containers {
    background: #e5e4e2;
    margin: 0;
    padding: 0;
  }
  h4 {
    padding-top: 30px;
    padding-left: 30px;
  }
  .qwer {
    display: flex;
  }
  .grid img {
    width: 100%;
    height: 128.2px;
  }
  .gridash {
    display: grid;
    width: 80%;
    margin-top: 20px;
    /* height:80vh;*/
    overflow-x: hidden;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 0;
    background: #e5e4e2;
  }
  .colmsdash {
    /* border-radius: 20px; */
    display: block;
    margin: auto;
  }
  .gridash img {
    width: 100%;
    height: 15vh;
    object-fit: contain;
  }
  .gridash a {
    width: 180px;
    /*height:200px; */
    object-fit: contain;
  }
  .just {
    display: block;
  }
}
@media (min-width: 771px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    padding: 0px 30px;
    background: #e5e4e2;
  }
  .containers {
    background: #e5e4e2;
    margin: 0;
    padding: 0;
  }
  .containers h4 {
    padding-top: 30px;
    padding-left: 30px;
  }
  .colms {
    border-radius: 20px;
    width: 18vw;
    display: block;
    margin: auto;
  }
  .grid img {
    width: 18vw;
    height: 20vh;
    object-fit: contain;
  }
  .gridash {
    display: grid;
    width: 70vw;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 10px;
    background: #e5e4e2;
  }
  .colmsdash {
    border-radius: 20px;
    display: block;
    margin: auto;
  }
  .gridash img {
    width: 10vw;
    height: 20vh;
    object-fit: scale-down;
  }
  .just {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .ItemAdd {
    position: relative;
    width: 30vw;
    height: 80vh;
    margin-right: 20px;
  }
  .img-con {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1100px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0px 30px;
    background: #e5e4e2;
  }
  .containers {
    background: #e5e4e2;
    margin: 0;
    padding: 0;
  }
  .containers h4 {
    padding-top: 30px;
    padding-left: 30px;
  }
  .colms {
    border-radius: 20px;
    width: 14vw;
    display: block;
    margin: auto;
  }
  .grid img {
    width: 14vw;
    height: 20vh;
    object-fit: contain;
  }
  .gridash {
    display: grid;
    width: 70vw;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 10px;
    background: #e5e4e2;
  }
  .colmsdash {
    border-radius: 20px;
    display: block;
    margin: auto;
  }
  .gridash img {
    width: 10vw;
    height: 20vh;
    object-fit: scale-down;
  }
  .just {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-arround;
  }
  .ItemAdd {
    position: relative;
    width: 30vw;
    height: 80vh;
    margin-right: 20px;
  }
}
.hero-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 302px;
  object-fit: cover;
}

.cover {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}

.img-con {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.img-one {
  width: 400px;
  max-height: 400px;
}
.img-sec {
  width: 100px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: last baseline;
}
.img-sec-con {
  display: flex;
  flex-direction: row;
  width: 500px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.post-details span {
  color: #7a7676;
}
.container-detail {
  width: 90%;
  padding: 10px;
  border: 1px solid #2c463a;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.contain {
  width: 100%;
  height: 100vh;
  /* background-color: #eeeeee; */
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.contain-one {
  margin-top: 30px;
  width: 90%;
  height: 90vh;
  background-color: #fff;
  align-self: center;
  padding: 30px 0 90px 0;
}
.msg-con {
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}
.msg-div {
  background-color: #fff;
  width: 70%;
  height: 90vh;
  margin-top: 20px;
  align-self: space-between;
}
.msg-head {
  padding: 30px;
  background-color: #2c463a;
  display: flex;
}
.msg-form {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.msg-form input[type="text"] {
  width: 80%;
  margin-right: 5px;
}
.msg-form input[type="submit"] {
  background-color: #2c463a;
  padding: 0 10px;
  color: #fff;
}
.postAdd {
  position: relative;
  width: 50vw;
  height: 80vh;
  margin-right: 20px;
  margin: auto;
}
@media (min-width: 400) {
  .img-con {
    display: block;
    flex-direction: column;
  }
  .img-one {
    display: block;
  }
  .img-sec-con {
    display: block;
  }
}
.sent-message-con {
  color: green;
  text-align: right;
  margin-right: 40px;
}

.received-message-con {
  color: blue;
  text-align: left;
  margin-left: 40px;
}

.other-sent-message-con {
  color: orange;
}

.other-received-message-con {
  color: purple;
}
.message-time {
  font-size: x-small;
  margin: 0;
  padding: 0;
}
#messages-container {
  height: 70vh;
}
.sent-message {
  margin: 0;
}
.received-message {
  margin: 0;
}
.logos {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.logo-con {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.order {
  text-align: end;
  justify-self: last baseline;
  align-self: last baseline;
}
.menu-toggle {
  z-index: 1000;
}
#messages-container div {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 7px;
}
.average-rating {
  font-size: 5rem;
  font-weight: bold;
}

.rating-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.rating-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.rating-label {
  flex: 0 0 100px;
  text-align: right;
  padding-right: 10px;
}

.rating-bar-container {
  flex: 1;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.rating-bar {
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 0 10px;
}

.rating-bar-1 {
  background-color: #7b8981;
}

.rating-bar-2 {
  background-color: #65756c;
}

.rating-bar-3 {
  background-color: #4f6257;
}

.rating-bar-4 {
  background-color: #394e42;
}

.rating-bar-5 {
  background-color: #243b2e;
}
.feedbackInput {
  width: 80%;
  height: 50px;
  background-color: #d4d4d4;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  resize: none; /* Prevent resizing */
}
.feedbackButton {
  background-color: #243b2e;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #fff;
}
